.yourWhiteness {
    color: white;
}

.about-padding {
    padding: 0 30px;
}

.about-goal-image {
    max-width: 100px;
    margin: 1em auto;
}

.about-goal-text {
    text-align: center;
}

.about-member-image {
    border-radius: 10px;
    max-height: 300px;
    min-height: 50px;
    max-width: 300px;
    min-width: 50px;
    margin: 1em auto;
}

.about-aside {
    background-color: #222b3684 !important;
    border: 1px solid #3E4650;
    color: #ebeced;
    text-align: center;
    padding: 20% 5% 5% 20%;

    position: sticky;
    top: 100%;

    border-radius: 700px 300px 0 20px / 120% 10% 0% 10%; /*top-left, top-right, bottom-right, bottom-left*/
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
}