.faq-padding {
    padding: 0 30px;
}

.faq-search-bar {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    margin-bottom: 2%;
    width: 30%;

    background-color: #ffffff2c;
    border: 1px solid #ffffff2c;
    color: #ffffff;
}

.faq-search-bar::placeholder {
    color: #ffffffce;
}

.faq-section-cards {
    background-color: #222b3684 !important;
    border: 1px solid #3E4650;
    color: #ebeced;
    text-align: center;
    padding: 2%;

    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
}

.accordioning {
    background-color: #222b36 !important;
    border: 1px solid #3E4650;
}

.whitening {
    color: white;
}